:root {
  --heading: #474747;
  --background: #f0e9e0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

h3,
h4,
p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: left;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  margin-bottom: 18px;
}

p {
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}
body {
  background-color: #f0e9e0;
  margin: 0;
}
nav {
  background-color: var(--background);
  height: 40px;
  width: 100%;
  z-index: 2;
  opacity: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav-item {
  margin-right: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  margin: 15px;
}

.around-grid {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.grid-info {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

.grid-info-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.WU-info {
  margin: 20px;
}

.UX-info {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}
