:root {
  --heading: #474747;
  --background: #f0e9e0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
body {
  background-color: #f0e9e0;
  margin: 0;
}
nav {
  background-color: var(--background);
  height: 40px;
  width: 100%;
  z-index: 2;
  opacity: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav-item {
  margin-right: 60px;
}

.blob-pink-wrapper img {
  position: absolute;
  right: 0;
  animation-name: start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.blob-grey-wrapper img {
  position: absolute;
  animation-name: start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.blob-orange-wrapper img {
  position: absolute;
  bottom: 0;
  animation-name: start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.blob-green-wrapper img {
  position: absolute;
  bottom: 0;
  right: 0;
  animation-name: start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

h3,
h4,
p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: left;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}

h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

p {
  font-size: 16px;
  margin-bottom: 24px;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

main div {
  max-width: 750px;
}

.highlight {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .blob-green-wrapper img,
  .blob-orange-wrapper img,
  .blob-pink-wrapper img,
  .blob-grey-wrapper img {
    display: none;
  }
}
