:root {
  --heading: #474747;
  --background: #f0e9e0;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

body {
  overflow-x: hidden;
}

a:hover {
  text-decoration: underline;
}
body {
  background-color: #f0e9e0;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: var(--background);
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 2;
  opacity: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 2s;
  padding-right: 40px;
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav-item {
  margin-right: 60px;
}

.show {
  opacity: 75%;
}

.blob-pink-wrapper img {
  position: absolute;
  right: 0;
  animation-name: start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 1;
  animation-timing-function: ease-out;
}

.blob-grey-wrapper img {
  position: absolute;
  animation-name: start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 1;
  animation-timing-function: ease-out;
}
.blob-orange-wrapper img {
  position: absolute;
  bottom: 0;
  animation-name: start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 1;
  animation-timing-function: ease-out;
}

.blob-green-wrapper img {
  position: absolute;
  bottom: 0;
  right: 0;
  animation-name: start;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 1;
  animation-timing-function: ease-out;
}

.blob-orange-wrapper-2 img {
  position: absolute;
  width: 30%;
  z-index: -1;
}

.blob-green-wrapper-2 img {
  position: absolute;
  width: 30%;
  right: 0;
  z-index: -1;
}

header {
  height: 100vh;

  background-color: var(--background);
}

.header-wrapper {
  position: relative;
  text-align: center;
  width: 100%;
}
.header-wrapper img {
  width: 40%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 30%;
  width: 800px;
  height: 450px;
  background-color: var(--background);
  animation-name: title;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.h1-wrapper {
  position: relative;
}
.overlay-2 {
  position: absolute;
  top: 0;

  width: 600px;
  height: 200px;
  background-color: var(--background);
  animation-name: title;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

h1 {
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--heading);
}

h2 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #de3831;
}
.arrow {
  position: absolute;
  bottom: 0;
  font-size: 24px;
  color: transparent;
  font-family: arial;
  animation-name: scroll;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.game {
  width: 100%;
}

.partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 30vh;
  background-color: #ffb8b2;
  text-align: center;
}

.yrgo {
  width: 20%;
  text-align: center;
}

.org {
  width: 100%;
  padding: 5%;
  padding-top: 0;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 25%;

  padding-bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.game-desc {
  font-weight: bold;
}
.punch {
  margin: 3px;
}

/* ANIMATIONS */
@keyframes start {
  from {
    width: 100%;
  }
  to {
    width: 30%;
  }
}

@keyframes title {
  from {
    background-color: var(--background);
  }
  to {
    background-color: transparent;
  }
}

@keyframes scroll {
  from {
    color: transparent;
  }
  to {
    color: var(--grey);
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }

  .game {
    display: none;
  }

  .blob-green-wrapper-2,
  .blob-orange-wrapper-2 {
    display: none;
  }
}
