:root {
  --heading: #474747;
}
body {
  background-color: #f0e9e0;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: white;
  height: 40px;
}

.blob-pink-wrapper {
  position: absolute;
  right: 0;
}

.blob-grey-wrapper {
  position: absolute;
}
.blob-orange-wrapper img {
  position: absolute;
  bottom: 0;
}

.blob-green-wrapper img {
  position: absolute;
  bottom: 0;
  right: 0;
}

header {
  height: 100vh;
}

header img {
  width: 40%;
}

h1 {
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--heading);
}
